# Temporary files

.latex-cache
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo


# Output

*.sty
doc/metropolistheme.pdf
RA_course/lectures.pdf

# Fetched figures for slides (including topic subfolders)
RA_course/lectures/**/images/**/*.jpg
RA_course/lectures/**/images/**/*.jpeg
RA_course/lectures/**/images/**/*.png
RA_course/lectures/**/images/**/*.pdf
RA_course/lectures/**/images/**/*.eps
RA_course/lectures/**/images/**/*.svg
RA_course/lectures/**/images/**/*.gif
RA_course/lectures/**/images/**/*.bmp
RA_course/lectures/**/images/**/*.tiff
RA_course/lectures/**/images/**/*.ico
RA_course/lectures/**/images/**/*.webp

.DS_Store